/*DOCUMENT INFORMATION
	-Document: Style CSS ttgv
	-Version: 1.0.0
	-Author: Victor
*/

/*COLORS

	-Default body text: 
	-h1: 				
	-h2:				

	-button
	-button:hover

	-icons				

	-border
*/

/*FONTS
	-Default:				azrt
	-Subtitle default:		ta
*/

/*CSS DIRECTORY
	1. =GLOBAL
	2. =
	3. =
*/


/*GLOBAL
=========================================*/

h1, h2, h3, h4 {
	font-family: "Overpass", "Arial", "sans-serif";
	font-weight: 700;
	word-spacing: 10px; 
	letter-spacing: -1px;
	font-size: 190%;
	text-transform: uppercase;
}

h2 {
	color: #000;
	font-size: 250%;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

h2:after, h3:after {
	display: block;
	height: 5px;
	background-color: #00dbff;
	width: 10%;
	content: " ";
	margin: 0 auto;
	margin-top: 10px;
}

h3 {
	font-size: 160%;
	text-align: center;
	font-size: 250%;
}


html,body {
	background-color: #fff;
}

p {
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	font-family: "Oswald","Arial","sans-serif";
	font-weight: 700;
	font-size: 115%;
	letter-spacing: 0.2px;
}

a {
	color: #5ee077;
}

section {
	padding: 0px 0 7vh 0;
}


/*NAVBAR
=========================================*/


.navbar-logo {
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

.bg-light {
    background-color: #00dbff !important;
}

.navbar {
	opacity: 0.9;
	font-family: "Oswald", "Arial", "sans-serif";
	z-index: 11111;
	width: 100%;
}

.top-menu {
		position: fixed;
}

/*HEADER
=========================================*/

header {
	background-image: url(../pictures/header/table-tennis.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.home-title h1 {
	margin-top: 17%;
	color: #fff;
}

.container-title {
  margin-left: 15%;
  margin-top: 15%;
  position: relative;
  display: inline-block;
  border: 5px double white;
  background-color: black;
  opacity: 0.8;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%; 
}

.container-btn {
	margin-left: 15%;
}
.btn {
	font-family: "Ubuntu", "Arial", "sans-serif" ;
	font-weight: 700;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 10px;
	transition: background-color 0.5s, color 0.5s, border 0.25s;
	margin-bottom: 14px;-
}

.btn-full {
	background-color: #007acc;
	color: #33ccff;
	margin-right: 15px;
}

.btn-ghost {
	border: 1px solid #33ccff;
	color: #fff;
}

.btn-full:hover {
	border: 1px solid #007acc;
	border-color: #33ccff;
	background-color: transparent;
	color: #fff;
}

.btn-ghost:hover {
	background-color: #007acc;
	color: #33ccff;
	border: 0px;
}

.header-btn {
	padding-top: 2vh;
}

/*CLUB
=========================================*/

.club-img {
	max-width: 100%;
	height: auto;
}

.club-def {
	margin: 10vh 0;
}

.le-club i {
	height: 50%;
	width: 50%;
}

.club-infos {
	margin: 20px 0;
}

.club-infos:hover .club-icon {
	color: #008ae6;
	transform: translateX(30px);
}

.club-icon {
	font-size: 34px;
	color: #00bfff;
	transition: all 0.6s;
}

.club-story {
	margin-top: 5vh;
}


/*CONTACT
=========================================*/
.contact-form {
	margin-bottom: 30px;
}

.contact-message {
	width: 100%;
}
.contact-section {
	background-image: url(../pictures/contact/contact-bg.jpg);
	padding-top: 5vh;
	padding-bottom: 12vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.contact-container {
	background-color: #fff;
	background-size: cover;
	border-radius: 25px; 
	position: relative;
	margin-top: 25vh;
	width: 75%;
}

.map {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
	margin-top: 15%;
	margin-bottom: 15%;
}

.map iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.send-btn {
	background-color: #007acc;
	color: #fff;
	margin-right: 15px;
}

.send-btn:hover {
	border: 1px solid #007acc;
	border-color: #33ccff;
	background-color: transparent;
	color: #000;
	transform: translateX(30px);
	transition: 1s;
}

.send-icon {
	font-size: 30px;
	padding-top: 20px;
	margin-left: 15px;
}

 /* FOOTER
=======================================*/

.footer-animation {
	text-align: center;
	background-color: #000; 
}

.footer-animation li {
    display: inline-block;
    margin: 0.2em 0.5em;
    overflow: hidden;
    list-style: outside none none;
}


.footer_animation * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear;
}

footer {
	display: flex;
	position: relative;
	justify-content: space-around;
	background-color: #000;
	color: #000;
}

.snip1582 {
  background-color: #00dbff;
  border: none;
  color: #000;
  cursor: pointer;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-content: center;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: #00dbff;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: #00dbff;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: #00dbff;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}
