/*DOCUMENT INFORMATION
	-Document: Style CSS ttgv
	-Version: 1.0.0
	-Author: Victor
*/

/*COLORS

	-Default body text: 
	-h1: 				
	-h2:				

	-button
	-button:hover

	-icons				

	-border
*/

/*FONTS
	-Default:				azrt
	-Subtitle default:		ta
*/

/*CSS DIRECTORY
	1. =GLOBAL
	2. =
	3. =
*/


/*GLOBAL
=========================================*/

h1 {
	font-family: "Overpass", "Arial", "sans-serif";
	font-weight: 700;
	word-spacing: 10px; 
	letter-spacing: -1px;
}

html {
	background-color: red;
}

h3 {
	font-size: 160%;
}

p {
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	font-family: "Lato","Arial","sans-serif";
}

a {
	color: #5ee077;
}

section {
	padding: 30px 0 60px 0;
}

/*NAVBAR
=========================================*/


.navbar-logo {
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

.bg-light {
    background-color: #00dbff !important;
}

.navbar {
	opacity: 0.6;
	font-family: "Oswald", "Arial", "sans-serif";
	z-index: 11111;
	position: absolute;
	width: 100%;
}


/*HEADER
=========================================*/

.header {
	height: 870px;
	background-position: center;
	background-size: cover;
	width: 1910px;
	margin-left: -400px;
}

.home-title {
	background-image: url(../pictures/header/table-tennis.jpg);
	background-attachment: fixed;
	color: #fff;
	height: 91vh;
	background-position: center;
	background-size: cover;
}

.home-title h1 {
	margin-top: 15%;
}

.title {
	position: relative;
	background-attachment: fixed;
	background-color: black;
	width: 55vh;
	height: 25vh;
	margin-top: 15%;
	margin-left: 15%;
	border: 5px double white;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.8;
}